@model Proyecto.ViewModels.PruebaViewModel

<form asp-action="CrearPrueba" method="post">
    <fieldset>
        <legend>Datos Personales</legend>
        <div class="mb-3">
            <label asp-for="@Model.ID">ID</label>
            <input type="number" asp-for="@Model.ID">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Apellido">Apellido</label>
            <input type="text" asp-for="@Model.Apellido">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Nombre">Nombre</label>
            <input type="text" asp-for="@Model.Nombre">
        </div>

        <div class="mb-3" id="num-tel">
            <label asp-for="@Model.Telefono">Numero</label>
            <input type="text" asp-for="@Model.Telefono">
        </div>

        <div class="mb-3">
            <label asp-for="@Model.DNI">DNI</label>
            <input type="text" asp-for="@Model.DNI">
        </div>

    </fieldset>
    <input type="submit" value="registrarme"/>
</form>